<header class="grid padded-2">
    <div class="col-4">
        <h2> LOGO </h2>
    </div>

    <div class="col-8 text-right">
        <nav>
            <a href="/index.html">Home</a>
            <a href="/about.html">About</a>
            <div class="dropdown">
                <a href="/our-dogs.html" class="dropdown-title">Our Dogs</a>
                <div class="dropdown-content">
                <a href="/archives/big-dogs"> Big Dogs </a>
                <a href="/archives/medium-dogs"> Medium Dogs </a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropdown-title">Recipes</span>
                <div class="dropdown-content">
                <a href="/archives/sweets"> Sweets </a>
                <a href="/archives/desserts"> Deserts </a>
                </div>
            </div>
            <a href="/contact.html">Contact</a>
        </nav>
    </div>

</header>

<hr>