<hr>

<footer class="padded-2 grid-bottom">
    <div class="col-4">
      <h2> LOGO </h2>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nesciunt ex tempora ducimus quam laboriosam dolore?</p>
    </div>
    <div class="col-8 text-right">
      <div class="social-links padding">
        <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>
        <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="#"> <i class="fa-brands fa-pinterest-p"></i> </a>
      </div>
    </div>
  </footer>