---
layout: archive
title: Big Dogs
description: This is a short description
category: 'Big Dogs'
intro-header: true
post.style: small
---

<section class="padded grid">
    {% if page.intro-header == true %}
    <div class="col-12 center padded-1">
        <h1> {{ page.category | capitalize }} posts </h1>
        <p> {{ page.description }} </p>
    </div>
   
    {% endif %}

    {% for post in site.categories[page.category] %}

        {% if page.post-style == "normal" %}

        {% include post-loop-item-square.html %}

        {% else %}

        {% include post-loop-item-small.html %}

        {% endif %}

    {% endfor %}

</section>