---
layout: default
---

<section class="grid">

    <div class="col-9 padded-2 grid">
        <div class="col-6 padded-2">
            <h1> Something to Read about {{ page.title }} </h1>
            <p> {{ page.date | date_to_string }} </p>
            {% for item in page.categories %}
            <span class="tag"> {{item}} </span>
            {% endfor %}

        </div>
        
        <div class="col-6 padded-2">
            <div class="bg-image vh40" style="background-image: url({{page.dog_image}}); background-position: 50% 30%;"></div>
        </div>

        <div class="padded-2">
            {{content}}
        </div>

    </div>

    <div class="col-3 padded-2">

        <h3> More of our Dogs </h3>

        {% for post in site.posts %}
        
        <div class="margin-b padding-b">
            <h4> {{ post.title }} </h4>
            <p> Hello, i'm a {{post.Size}} rescue dog</p>
            <a href="{{post.url}}">Read more about {{title}}...</a>
        </div>
        {% endfor %}

    </div>

</section>